<html>
<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

<!-- propietary libs -->
<script src="js/nc/nc.js"></script>
<script src="js/nc/Event.js"></script>

<!-- angular app -->
<script src="js/webApp.js"></script>

<script src="js/Config.js"></script>

<script src="js/ChatClient.js"></script>

<script src="js/ChatController.js"></script>


<link href="css/client.css" rel="stylesheet" type="text/css" />

</head>
<body data-ng-app="webApp">

  <div data-ng-controller="ChatController">

    <div class="loading" data-ng-show="isLoading">Loading...</div>

    <div class="connect" data-ng-show="isConnecting">Connecting to server - #{{connectRetries}} time(s)</div>
    
    <div class="overlay" data-ng-show="isLoading || isConnecting"></div>
  
    <div class="register-view" data-ng-show="!isRegistered">
      Enter your name: 
      <input type="text" data-ng-model="name" />
      <button data-ng-click="register()">Connect</button>
    </div>


    <div class="chat-view" data-ng-show="isRegistered">
      <div class="chat">
        <div class="message" data-ng-repeat="msg in msgs">
         <span data-ng-if="isMessage(msg)" data-ng-class="{myMessage : isMyMsg(msg)}">&lt;{{msg.data.sender}}&gt; {{msg.data.text}}</span>

         <span data-ng-if="isUserJoin(msg)" class="user-joined">*** {{msg.data.name}} joined the chat</span>

         <span data-ng-if="isUserLeft(msg)" class="user-left">*** {{msg.data.name}} left the chat</span>
        </div> 
        
      </div>

      <div class="write">
        <input type="text" size="45" data-ng-model="msg" data-ng-keyup="onKeyUp($event)" />

        <button data-ng-click="sendMsg()">Send message</button>
      </div>
    </div>

    <div class="connect-failed" data-ng-show="isSrvUnreachable">Connection to server failed, try again in a few minutes.</div>

  </div>
</body>
</html>