@import url('http://fonts.googleapis.com/css?family=Lato');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

body, button, input {
	font-family: Lato;
	font-size: 15px;
	/* margin: 0 auto; */
}

.loading {
	position: absolute;
	top: calc(50% - 10px);
	width: 130px;
	left: calc(50% - 65px - 10px);
	background-color: #003366;
	color: white;
	padding: 20px;
	border-radius: 10px;
	z-index: 10000;
}

.connect {
	position: absolute;
	top: calc(50% - 10px);
	width: 270px;
	left: calc(50% - 135px - 10px);
	background-color: #003366;
	color: white;
	padding: 20px;
	border-radius: 10px;
	z-index: 10000;
}

.connect-failed {
	position: absolute;
	width: 360px;
	top: calc(60%);
	left: calc(50% - 180px);
	color: red;
	padding: 20px;
	font-weight: bold;
	border: 1px solid red;
	border-radius: 5px;
}

.overlay {
	opacity: 0.5;
	background-color: #ccc;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	position: absolute;
	z-index: 9999;
}

.register-view {
	position: absolute;
	top: calc(50% - 30px);
	left: calc(50% - 190px);
	width: 380px;
	height: 35px;
	color: white;
	/* font-weight: bold; */
	padding: 5px;
	padding-top:;
	/* padding-top: 12px; */
	background-color: rgba(0,0,200,0.5);

	border-radius: 5px;
}


.chat-view {
	position: absolute;
	top: calc(50% - 230px);
	left: calc(50% - 260px);
	width: 520px;
	height: 460px;
	/*added by ale*/
	background-color: #929AB2;
	padding: 15px;
}

.chat {
	/* margin: 0 auto; */
	/* position: relative; */
	height: 400px;
	/* margin-top: 50px; */
	overflow-x: hidden;

	overflow-y: scroll;
	padding: 5px;
	/*added by Ale*/
	background-color: #EAF0FF;
}

.write {
	position: relative;
	margin: 0 auto;
	width: 490px;
	top: 10px;
	/* margin-top: 20px; */
	margin: 0 auto;
}

.message {
	display: block;
	font-family: Verdana;
	line-height: 1.5;
}

.myMessage {
	color: blue;
}

.user-joined {
	color: green;
	font-weight: strong;
}

.user-left {
	color: grey;
	font-weight: strong;
}

.connected-box{

		position:absolute;
		height: 460px;
		width:200px;
		border:15px solid #929AB2;
		top: calc(50% - 230px);
		left: calc(50% + 270px);
		background-color: #EAF0FF;
		

		overflow:hidden;

		/* white-space: nowrap; */

		/* text-overflow: ellipsis; */

}

.connected-box p{
	margin:0px;
	padding-left:5px;
	padding-bottom:5px;
			padding-top:5px;
	border-bottom:1px solid rgba(0,0,0,0.3);
	/* text-overflow: ellipsis; */
	/* white-space: nowrap; */

}


/*Custom css*/
*{
	box-sizing: border-box;
}
*,body,p,span,label,input,li,button{
	font-family: 'Consolas', sans-serif;
	font-size: 14px;
}
body{
	background: #151515;
	padding: 0px;
	overflow: hidden;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}
/*register*/
.register-view{
	background: none;
	width: 390px;
}
.register-view label{
	color: #AEAEAE;
	font-size: 14px;
}
.register-view input[type="text"]{
	background: #000;
	border: 0px;
	color: #C5AF75;
	padding: 5px;
}
.register-view input[type="text"]:focus {
	outline: none;
	box-shadow: #C5AF75 0px 0px 5px 0px;
}
.register-view button{
	background: #262626;
	border: 3px solid;
	border-radius: 2px;
	color: #E26127;
	padding: 2px 5px;
	border-top-color: #373737;
	border-left-color: #373737;
	border-right-color: #000;
	border-bottom-color: #000;
}
/*chat*/
.chat-view {
    position: relative;
    padding: 0;
    height: 100%;
    top: auto;
    left: auto;
    background: none;
    width: 85%;
    float: left;
}
.chat-view .chat{
	height: calc(100% - 40px);
    position: static;
    margin: 0;
    background: none;
    overflow: auto;
}
.chat-view .write{
	position: relative;
    border-top: 2px solid #191919;
    width: 100%;
    margin: 0;
    top: auto;
    height: 40px;
}
.chat-view .write input[type="text"]{
	width: 100%;
    height: 40px;
    background: none;
    border: none;
    padding: 0px 100px 0px 5px;
    color: #C5AF75;
}
.chat-view .write input[type="text"]:focus {
	outline: none;
   -moz-box-shadow: inset 0 0 10px #C5AF75;
   -webkit-box-shadow: inset 0 0 10px #C5AF75;
   box-shadow: inset 10px 0px 6px -10px #C5AF75
}
.chat-view .write button{
	background: #262626;
	border: 3px solid;
	border-radius: 2px;
	color: #E26127;
	padding: 2px 5px;
	border-top-color: #373737;
	border-left-color: #373737;
	border-right-color: #000;
	border-bottom-color: #000;
	position: absolute;
    top: 0;
    right: 0;
    height: 38px;
}
.chat-view span{
	color: #C5AF75;
}
.chat-view .user-joined{
	color: #AEAEAE;
}
.chat-view .user-left{
	color: #A5A5A5;
}
.chat-view .myMessage{
	color: #9B703F;
}
.connected-box{
    position: static;
    float: left;
    width: 15%;
    border: none;
    color: #F9EE98;
    background: #191919;
    height: 100%;
    padding: 5px;
}
/*scroll*/
.chat-view .chat{
	overflow:auto;
}
.chat-view .chat{
    scrollbar-face-color: #367CD2;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
}

/* Let's get this party started */
.chat-view .chat::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
.chat-view .chat::-webkit-scrollbar-track {
}
 
/* Handle */
.chat-view .chat::-webkit-scrollbar-thumb {
    background: #262626; 
}

div.msg-text {
	display: inline;
}