@import url('http://fonts.googleapis.com/css?family=Lato');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: #222;
	font-family: Lato;
	font-size: 15px;
}

.loading {
	position: absolute;
	top: calc(50% - 10px);
	width: 130px;
	left: calc(50% - 65px - 10px);
	background-color: #003366;
	color: white;
	padding: 20px;
	border-radius: 10px;
	z-index: 10000;
}

.connect {
	position: absolute;
	top: calc(50% - 10px);
	width: 270px;
	left: calc(50% - 135px - 10px);
	background-color: #003366;
	color: white;
	padding: 20px;
	border-radius: 10px;
	z-index: 10000;
}

.connect-failed {
	position: absolute;
	width: 360px;
	top: calc(60%);
	left: calc(50% - 180px);
	color: red;
	padding: 20px;
	font-weight: bold;
	border: 1px solid red;
	border-radius: 5px;
}

.overlay {
	opacity: 0.5;
	background-color: #ccc;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	position: absolute;
	z-index: 9999;
}

.register-view {
	position: absolute;
	top: calc(50% - 30px);
	left: calc(50% - 190px);
	width: 380px;
	height: 35px;
	color: white;
	/* font-weight: bold; */
	padding: 5px;
	padding-top:;
	/* padding-top: 12px; */
	background-color: rgba(0,0,200,0.5);

	border-radius: 5px;
}


.chat-view {
	position: absolute;
	top: calc(50% - 230px);
	left: calc(50% - 260px);
	width: 520px;
	height: 460px;
	/*added by ale*/
	background-color: #929AB2;
	padding: 5px;
}

.chat {
	/* margin: 0 auto; */
	/* position: relative; */
	height: 400px;
	/* margin-top: 50px; */
	overflow-x: hidden;

	overflow-y: scroll;
	padding: 5px;
	/*added by Ale*/
	background-color: #EAF0FF;
}

.write {
	position: relative;
	margin: 0 auto;
	width: 490px;
	top: 18px;
	/* margin-top: 20px; */
	margin: 0 auto;
}

.message {
	display: block;
	font-family: Verdana;
	line-height: 1.5;
}

.myMessage {
	color: blue;
}

.user-joined {
	color: green;
	font-weight: strong;
}

.user-left {
	color: grey;
	font-weight: strong;
}

.connected-box{

		position:absolute;
		height: 460px;
		width:200px;
		border:5px solid #929AB2;
		top: calc(50% - 230px);
		left: calc(50% + 270px);
		background-color: #EAF0FF;
		

		overflow:hidden;

		/* white-space: nowrap; */

		/* text-overflow: ellipsis; */

}

.connected-box p{
	margin:0px;
	padding-left:5px;
	padding-bottom:5px;
			padding-top:5px;
	border-bottom:1px solid rgba(0,0,0,0.3);
	/* text-overflow: ellipsis; */
	/* white-space: nowrap; */

}

.emoticon {
	width: 16px;
	height: 16px;
}

.emoticon-item {
	list-style: none;
	margin: 3px 3px 3px 3px;
	display: inline-block;
	outline: 1px solid transparent;
}

.chat-emoticon {
	display: inline-block;
}

.emoticon-item:hover {
	outline: 1px solid #555;
}

.emoticon-container {
	padding: 5px;
	margin: 0;
}

.emoticon-btn {
	border: none;
	top: 2px;
 	position: relative;
}

.emoticon-description {
	text-align: center;
}

.emoticon-panel {
	background-color: #DDDDDD;
	border-radius: 4px;
	border: 1px solid gray;
  	height: 150px;
  	width: 150px;
 	 position: absolute;
  	left: 355px;
  	top: 27px;
}

.emoticon.smile {
	background: url('../img/emoticons.png') no-repeat -1px -341px;
}

.emoticon.sad {
	background: url('../img/emoticons.png') no-repeat -1px -120px;
}

.emoticon.like {
	background: url('../img/emoticons.png') no-repeat 0 -1px;
}

.emoticon.angel {
	background: url('../img/emoticons.png') no-repeat 0 -17px;
}
.emoticon.nyam {
	background: url('../img/emoticons.png') no-repeat -1px -35px;
}
.emoticon.wtf {
	background: url('../img/emoticons.png') no-repeat -1px -52px;
}
.emoticon.cry {
	background: url('../img/emoticons.png') no-repeat -1px -86px;
}
.emoticon.devil {
	background: url('../img/emoticons.png') no-repeat -1px -102px;
}
.emoticon.surprised {
	background: url('../img/emoticons.png') no-repeat -1px -137px;
}
.emoticon.nerd {
	background: url('../img/emoticons.png') no-repeat -1px -154px;
}
.emoticon.happy {
	background: url('../img/emoticons.png') no-repeat -1px -171px;
}
.emoticon.pain {
	background: url('../img/emoticons.png') no-repeat -1px -188px;
}
.emoticon.heart {
	background: url('../img/emoticons.png') no-repeat -1px -206px;
}

.emoticon.kiss {
	background: url('../img/emoticons.png') no-repeat -1px -239px;
}

.emoticon.aww {	
	background: url('../img/emoticons.png') no-repeat -1px -222px;
}

.emoticon.juaz {
	background: url('../img/emoticons.png') no-repeat -1px -256px;
}

.emoticon.nestor {
	background: url('../img/emoticons.png') no-repeat 0 -272px;
}

.emoticon.poop {
	background: url('../img/emoticons.png') no-repeat 0 -289px;
}

.emoticon.shark {
	background: url('../img/emoticons.png') no-repeat 0 -323px;
}

.emoticon.seriously {
	background: url('../img/emoticons.png') no-repeat -1px -358px;
}

.emoticon.fashion {
	background: url('../img/emoticons.png') no-repeat -1px -375px;
}

.emoticon.hehe {
	background: url('../img/emoticons.png') no-repeat -1px -392px;
}

.emoticon.mmm {
	background: url('../img/emoticons.png') no-repeat -1px -409px;
}

.emoticon.lol {
	background: url('../img/emoticons.png') no-repeat -1px -426px;
}

.emoticon.wink {
	background: url('../img/emoticons.png') no-repeat -1px -443px;
}

.emoticon.robot {
	background: url('../img/emoticons.png') no-repeat 0 -459px;
}

.emoticon.aguantaa {
	width: 50px;
	height: 48px;
	background: url('../img/aguantaa.png') no-repeat;
}

.emoticon.aguantaa-thumbnail {
	background: url('../img/aguantaa-thumb.png') no-repeat;
}

.emoticon.aguantaa-text {
	width: 100px;
	height: 48px;
	background: url('../img/aguantaa.gif') no-repeat;
}

.emoticon.aguantaa-text-thumbnail {
	background: url('../img/aguantaa.gif') no-repeat;
}

/* Let's get this party started */
.chat-view .chat::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
.chat-view .chat::-webkit-scrollbar-track {
}
 
/* Handle */
.chat-view .chat::-webkit-scrollbar-thumb {
    background: #262626; 
}

div.msg-text {
	display: inline;
}
